@import url("https://npm.elemecdn.com/katex@0.16.7/dist/katex.min.css");
* {
  pointer-events: auto !important;
  user-select: none;
}

#root{
  width: 86vw !important;
  height: 93vh !important;
}